<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>

{% include 'navbar.html' %}



<div class="heading">
    <h1 class="display-5 title">Start using ModBot - 99% UPTIME!</h1>
    <p class="subtitle">ModBot is a multi-purpose moderation bot with a lot of commands and a swear word filter. <br>It's simple to use and it hasn't any configuration: just invite him and the moderation will start work. <br>ModBot has a swear wolds filter, and anyone who chat any forbidden word will be warned in DM. If an user says more than 3 bad words he will be banned. <br>You can change ModBot's prefix for your server by typing "/setprefix new_prefix" where new_prefix is the prefix you want. If you forgot your prefix, simply ping (mention) ModBot. You can change the prefix as many time as you want.</p>
    <a class="btn btn-primary btn-lg" href="https://discord.com/oauth2/authorize?client_id=780697130909302805&permissions=8&scope=bot" target="_blank" role="button">Invite ModBot</a>
    <a class="btn btn-secondary btn-lg" href="#features" role="button">Discover commands</a>
		<!--<a class="btn btn-primary btn-lg" data-patreon-widget-type="become-patron-button">Buy Premium Now!</a>-->
    <br /><br /><br /><br /><br /><br />
</div>
{% include 'features.html' %}
{% include 'end.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.filipporomani.repl.co/js/now-ui-kit.min.js"></script>
</body>
</html>   
  