<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>

{% include 'navbar.html' %}



<div class="heading">
    <h1 class="display-5 title">ModBot Premium - Moderation made easier!</h1>
    <p class="subtitle">ModBot is a powerful moderation bot with over 15 commands, and starting from now a really big feature has arrived: <strong>CUSTOM SWEAR WORDS</strong>!! <br><br> This is a premium function because of the limited database bandwith and with only 2.50$ (without taxes) per month you will get access to all premium commands and you will also support the development of ModBot! <br><br> Reaching 10,00$ per month will be a cool way to host our bot more seriously and to increase the speed of the development! WE ONLY NEED YOUR HELP! <br><br>You will also get an exclusive role into the project server! <br><br><strong>WE ARE WORKING HARDLY EVERY DAY TO BUILD MORE PRMIUM COMMANDS, SO WHAT DO YOU WAIT? JOIN!</strong></p>
		<!--<a class="btn btn-primary btn-lg" data-patreon-widget-type="become-patron-button">Buy Premium now!</a>-->
		<br>
		<h3>You will be able to buy premium when all the stuff will be setted up!</h3>
    <br /><br /><br /><br /><br /><br />
</div>






{% include 'end.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.filipporomani.repl.co/js/now-ui-kit.min.js"></script>
</body>
</html>   
  